
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d284e;
  color: #FFD700;
  font-family: 'El Messiri', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
